%h2 Admin
%table.table.table-striped
	%thead
		%tr
			%th Page
			%th Visible/Published?
			%th Last Update
			%th Created
			%th Add
			%th Edit
			%th Delete
	%tbody
		- @pages.each do |p|
			%tr
				%td
					%h4= p.title
				%td= p.publish ? "Yes" : "No"
				%td= time_ago_in_words(p.updated_at)
				%td= time_ago_in_words(p.created_at)
				%td= link_to icon("pencil", "Add Sub-Page"), new_admin_page_sub_page_url(p.id), class: "btn btn-primary"
				%td= link_to icon("edit", "Edit"), edit_admin_page_url(p.id), class: "btn btn-warning"
				%td= link_to icon("trash", "Delete page"), admin_page_url(p.id), method: :delete, confirm: "Are you sure you\'d like to delete this project?", disable_with: "Deleting...", class: "btn btn-danger"
			- if p.sub_pages.present?
				- p.sub_pages.each do |s|
					%tr
						%td= icon("arrow-right", s.title)
						%td= s.publish ? "Yes" : "No"
						%td= time_ago_in_words(s.updated_at)
						%td= time_ago_in_words(s.created_at)
						%td= link_to icon("pencil", "Add Sub-Page"), new_admin_page_sub_page_gallery_url(p.id, s.id), class: "btn btn-primary"
						%td= link_to icon("edit", "Edit"), edit_admin_page_sub_page_url(p.id, s.id), class: "btn btn-warning"
						%td= link_to icon("trash", "Delete page"), admin_page_sub_page_url(p.id, s.id), method: :delete, confirm: "Are you sure you\'d like to delete this project?", disable_with: "Deleting...", class: "btn btn-danger"
					- if s.galleries.present?
						- s.galleries.each do |g|
							%tr
								%td
									= icon("arrow-right", '')
									= icon("arrow-right", g.title)
								%td= g.publish ? "Yes" : "No"
								%td= time_ago_in_words(g.updated_at)
								%td= time_ago_in_words(g.created_at)
								%td
								%td= link_to icon("edit", "Edit"), edit_admin_page_sub_page_gallery_url(p.id, s.id, g.id), class: "btn btn-warning"
								%td= link_to icon("trash", "Delete page"), admin_page_sub_page_gallery_url(p.id, s.id, g.id), method: :delete, confirm: "Are you sure you\'d like to delete this project?", disable_with: "Deleting...", class: "btn btn-danger"