%h2 Edit #{@gallery.title} gallery within #{@sub_page.title} sub-page from #{@page.title}
= render 'form'
= link_to icon("pencil", "Add Images"), new_admin_page_sub_page_gallery_image_url(@page.id, @sub_page.id, @gallery.id), class: "btn btn-success"
