= simple_form_for([:admin, @page, @sub_page], :html => {:multipart => true }) do |f|
	/ .span4
	= f.input :title, :input_html => { :class => "span4" }
	= f.input :content, :input_html => { :class => "span4" }
	= f.input :publish, :as => :boolean
	= f.input :page_id, as: :hidden, :input_html => {:value => @page.id}
	.span2
		= f.fields_for :images do |image|
			- a = image.object.image
			= image_tag(a.remote_url)
			= image.label :link_image, "Should this be the link image?"
			= image.check_box :link_image
		/ # = image.hidden_field :link_image, :value => true
	.form-actions.span8.clear
		= f.button :submit, :class => 'btn-primary'
		= submit_tag 'Cancel', :type => :reset, :class => "btn btn-danger"
		= link_to 'Back', :back, class: 'btn btn-warning'
		