%h3= @page.title unless @page.title == "Home"
- if @page.children.published.present?
  - @page.children.published.each do |s|
    .row.image-link-wrapper
      - if s.image.present?
        .span6.image-link
          = link_to image_tag(s.image.remote_url), nested_page_path(@page, s) unless s.image.blank?
        .span2.text-link
          = link_to s.title, nested_page_path(@page, s)
      - else
        .span2.text-link
          = link_to s.title, nested_page_path(@page, s)

- elsif @page.content?
  = raw(@page.content)
- else
  %h2 more soon to come.. thanks!

- content_for :extra_styles do
  = background_and_links_css(@page)

