!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
      %title= content_for?(:title) ? yield(:title) : "Friends"
      %meta{:content => content_for?(:description) ? yield(:description) : "Derek Webers Portfolio", :name => "description"}
        = stylesheet_link_tag "application", :media => "all"
        %style{:type => "text/css", :media => "all", :rel => "stylesheet"}
          = yield :extra_styles
        = javascript_include_tag "application"
        = csrf_meta_tags
        = yield(:head)
  %body
    #main{:role => "main"}
      .container
        .pub-content
          .row
            .span12
              = render 'layouts/messages'
              = render 'layouts/public_nav'
              = yield
          %footer
      / ! end of .container
    / ! end of #main
